.header {
    position: relative;
    /* background-position: center; */
    height: 100vh;
    max-width: 100%;
    padding-top: 0.5rem;
    color: white;
    /* padding-top: 0.5rem; */
    color: white;
}

.btn {
    font-size: 2rem;
    position: absolute;
    right: 10%;
}

.darkmode {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/images/header-background.jpg")center center no-repeat;
}
/* .whitemode{

} */
.header ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: start;
    color: #fff;
    margin-left: 0;
    padding-inline: 1rem;
    gap: 1rem;
    list-style: none;
}

.contenue {
    padding-left: 1.5rem;
    margin: 1rem;
    margin-top: 4rem;
    width: 60%;
    background-image: url("../../assets/images/bg-flow.png");
}

.contenue h1 {
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding-left: 1.5rem;
    width: 50%;
    font-weight: bold;
    font-size: 3rem;
    font-family: Tanker;
    word-spacing: .15rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.block {
    margin-left: 5rem;
}

.wcolor {
    color: var(--white) !important;
}

.dcolor {
    color: var(--dark) !important;
}

.header h2,
.header h2 p {
    font-weight: lighter;
    font-size: 1rem;
}

p {
    padding-left: 1.5rem;
}

.texte2 {
    font-size: 1.7rem;
    color:var(--color-secondary);
    font-family: Poppins;
}

.header .menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #8f14c0;
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
}

.logo img {
    width: 20%;

    /* mix-blend-mode: ; */

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-block: 3rem;
    position: absolute;
    left: 40%;
    bottom: 20%;
    margin: 0 auto;
}

.button a {
    background-image: linear-gradient(to right, #53048c 50%, #04589d);
    color: #cfc2e2;
    font-size: 1em;
    font-weight: 600;
    /* border: 0.1rem solid white; */
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: all 1s;
    text-decoration: none;
    text-align: center;
}


.button a:hover {
    background-color: #200554;
    color: #fff;
    box-shadow: 0 4px 8px 0 #00000042;
    transform: scale(1.05);
    opacity: 0.8;
}



/********** Petit desktop *********/
@media screen and (max-width: 1200px) and (min-width: 981px) {

    .texte2 {
        width: 100%;
        font-size: 1rem;
    }

    .contenue {
        width: 60%;
    }

    .contenue h1 {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        text-align: center;
        width: 60%;
        text-transform: uppercase;
    }

    .button a {
        font-size: 1rem;
    }
}


/********** Tablette *********/
@media screen and (max-width: 980px) and (min-width: 531px) {

    .block {
        margin: 1rem;
        margin-left: 1rem;
    }

    .contenue {
        margin: 0;
        padding-left: 0;
        width: 100%;
    }

    .texte2 {
        text-align: center;
    }

    .contenue h1 {
        font-size: 3rem;
    }


}

/********** Mobile *********/
@media screen and (max-width: 530px) {

    .block {
        margin: 1rem;
    }

    .contenue {
        margin: 0;
        padding-left: 0;
        width: 100%;
    }

    .contenue h1 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .texte2 {
        text-align: center;
        font-size: 1.2rem;
        line-height: 2.2;
    }

    .header ul {
        text-align: center;
    }

    .header ul img {
        margin-block: 2rem;
        width: 50%;
    }

}