.contain{
    /* max-width: 1300px; */
    margin: 0.5rem auto;
    width: 80%;
    background-repeat: no-repeat;
    /* margin: 2rem; */
    background-size: cover;
    border-radius: 1rem;
}

.whitemode{
    color:#0e0e0e;
    background-image: url(src/assets/images/banner_with_low_poly_design_2305.jpg);
    background-color: #f1f1f1;
}
.darkmode{
    color: #f1f1f1;
    background-color:#0e0e0e;
    background-image: url(src/assets/images/bg-header1.jpg);
  }
  .wcolor{
    color:#f1f1f1 !important;
  }
  .dcolor{
    color: #0e0e0e !important;
  }
  .wbgc{
    background-color: #f1f1f1 !important;
  }
  .dbgc{
    background-color: #0e0e0e !important;
  }

.container2{
    max-width: 100%;
}
.bg-blur{
    backdrop-filter: blur(10px);
}

.b-shadow{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.taille{
    height: 100vh;
    padding-top: 0.2rem;
}

/********** Petit desktop *********/
@media screen and (max-width: 1200px) {

    .contain{
        /* max-width: 1300px; */
        margin: 0 auto;
        width: 90%;
    }
  }
  
  
  /********** Tablette *********/
  @media screen and (max-width: 980px) {
  
    .contain{
        /* max-width: 1300px; */
        margin: 0 auto;
        width: 100%;
        background-color: white;
    }
    
  
  
  }
  
  /********** Mobile *********/
  @media screen and (max-width: 530px) {
  
    .contain{
        /* max-width: 1300px; */
        margin: 0 auto;
        width: 100%;
    }
    
  
  }
  